Source: isakmpd
Maintainer: Jochen Friedrich <jochen@scram.de>
Priority: optional
Section: net
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), libkeynote-dev, libssl-dev, libgmp3-dev, libpcap-dev, linux-kernel-headers

Package: isakmpd
Priority: optional
Section: net
Architecture: any
Provides: ike-server
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Internet Key Exchange protocol openbsd implementation
 IKE is a protocol which allow to exchange security information between
 to peers. This implementation requires the native linux ipsec support.

