[Unit]
Description=secure anycast tunneling config daemon for %i
PartOf=anytun.service
ReloadPropagatedFrom=anytun.service
Requires=anytun@%i.service
Documentation=man:anytun-controld(8)

[Service]
Type=simple
PIDFile=/run/anytun-controld/%i.pid
Environment="NAME=%i" "DAEMONOPTS=-D -L stdout:3 --username anytun"
ExecStart=/usr/local/lib/anytun-launcher configd
Restart=on-failure
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
