[Unit]
Description=secure anycast tunneling config daemon
After=syslog.target network.target
Requires=anytun@%i.service

[Service]
Type=simple
PIDFile=/run/anytun-controld/%i.pid
Environment="NAME=%i" "DAEMONOPTS=-D -L stdout:3 --username anytun"
ExecStart=/usr/local/lib/anytun-launcher configd
Restart=on-failure
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
